:root {
   --primary-font: "Montserrat", sans-serif;

   --generic-white: #ffffff;
   --generic-black: #000000;

   --brand-col-1: linear-gradient(top, rgba(58, 192, 62, 1) 0%, rgba(255, 255, 255, 1) 90%, transparent 100%);

   --dark-col-1: rgba(255, 255, 255, 0.56)80%, transparent 10%;

   --generic-col:#797979;

   --light-col-1: #42C344;
   --light-col-2: #0F9165;

   --font-col-: #49e2d3;

   --font-col-date-2: #676662;

   --copyright-col: #5A5A5A;
}
